openapi: 3.0.0
info:
  contact:
    email: help@qernal.support
  description: Central Management API - publicly exposed set of APIs for cloud resources
  title: Chaos
  version: 1.0.0
  x-logo:
    url: /assets/components/Chaos.png
    backgroundColor: '#FFFFFF'
    altText: Qernal Chaos
servers:
- description: Production
  url: https://chaos.qernal.com/v1
security:
- token: []
- cookie: []
tags:
- description: User operations
  name: users
- description: Billing operations for accounts and payment methods
  name: billing
- description: Quota limits and usage
  name: quotas
- description: "Project operations, projects belong to an organisation"
  name: projects
- description: "Organisations are a hierarchy top-level for a user, they allow for\
    \ organising of projects"
  name: organisations
- description: "Secret operations for certificates, environment and container registry"
  name: secrets
- description: Auth tokens for third party clients
  name: tokens
- description: "Function operations, allows deployment of containers via the function\
    \ endpoints"
  name: functions
- description: List of providers you can use to deploy functions into and their available
    locations - this includes any private providers attached to your organisation
  name: providers
- description: Hosts attached to the project so make functions routeable via the internet
  name: hosts
- description: Logs for functions
  name: logs
- description: Metrics and aggregations for functions and projects
  name: metrics
paths:
  /users/{user_id}/quotas:
    get:
      description: Get the quotas for a user
      operationId: users-quotas-list
      parameters:
      - description: User ID reference
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List user quotas
      tags:
      - users
      - quotas
  /users/{user_id}/quotas/{quota_entity_quota}:
    get:
      description: Get a specific quota for a user
      operationId: users-quotas-get
      parameters:
      - description: User ID reference
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: quota_entity_quota
        required: true
        schema:
          description: Specific quota to filter by
          example: projects_secrets
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get specific user quota
      tags:
      - users
      - quotas
  /billing/accounts:
    get:
      description: "List all billing accounts for this user, paginated"
      operationId: billing-accounts-list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBillingAccounts'
          description: List billing accounts
        "401":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List billing accounts
      tags:
      - billing
    post:
      description: Create a new billing account
      operationId: billing-accounts-create
      requestBody:
        $ref: '#/components/requestBodies/BillingAccountBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
          description: Get billing account
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "401":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Create billing account
      tags:
      - billing
  /billing/accounts/{billing_account_id}:
    delete:
      description: Delete a specific billing account if it is no longer attached to
        any organizations or projects and has no outstanding balances or invoice payments.
      operationId: billing-accounts-delete
      parameters:
      - description: Billing account ID reference
        explode: false
        in: path
        name: billing_account_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete billing account
      tags:
      - billing
    get:
      description: Get a specific billing account
      operationId: billing-accounts-get
      parameters:
      - description: Billing account ID reference
        explode: false
        in: path
        name: billing_account_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
          description: Get billing account
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get billing account
      tags:
      - billing
    put:
      description: Update the details of a specific billing account.
      operationId: billing-accounts-update
      parameters:
      - description: Billing account ID reference
        explode: false
        in: path
        name: billing_account_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/BillingAccountBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingAccount'
          description: Get billing account
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update billing account
      tags:
      - billing
  /billing/accounts/{billing_account_id}/payment-methods:
    get:
      description: Retrieve a list of payment methods associated with a specific billing
        account.
      operationId: accounts-payment-methods-list
      parameters:
      - description: Billing account ID reference
        explode: false
        in: path
        name: billing_account_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPaymentMethods'
          description: List payment methods
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List payment methods for a billing account
      tags:
      - billing
    post:
      description: Create a new payment method associated with a specific billing
        account.
      operationId: accounts-payment-methods-create
      parameters:
      - description: Billing account ID reference
        explode: false
        in: path
        name: billing_account_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentMethodBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodCreate'
          description: Create payment method
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create a new payment method for a billing account
      tags:
      - billing
  /billing/payment-methods/{billing_payment_method_id}:
    delete:
      description: Remove a specific payment method entirely if there are no associated
        resources and no pending partial invoices.
      operationId: payment-methods-delete
      parameters:
      - description: Payment method ID reference
        explode: false
        in: path
        name: billing_payment_method_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete a specific payment method
      tags:
      - billing
    get:
      description: "Get metadata (such as state, active, declined, cancelled, etc.)\
        \ for a specific payment method."
      operationId: payment-methods-get
      parameters:
      - description: Payment method ID reference
        explode: false
        in: path
        name: billing_payment_method_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
          description: Get payment method
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Retrieve metadata for a specific payment method
      tags:
      - billing
    put:
      description: Update the details of a specific payment method.
      operationId: payment-methods-update
      parameters:
      - description: Payment method ID reference
        explode: false
        in: path
        name: billing_payment_method_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/PaymentMethodBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
          description: Get payment method
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update a specific payment method
      tags:
      - billing
  /organisations:
    get:
      description: List organisations
      operationId: organisations-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: |
          Filter resource on name, if the value ends in an asterix it will be
          treated as a partial search otherwise, it'll be an exact match
        explode: true
        in: query
        name: f_name
        required: false
        schema:
          example: my-proj*
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organisation'
                type: array
          description: List organisations
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List organisations
      tags:
      - organisations
    post:
      description: Create an organisation
      operationId: organisations-create
      requestBody:
        $ref: '#/components/requestBodies/OrganisationBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: Get organisation
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create organisations
      tags:
      - organisations
  /organisations/{organisation_id}:
    delete:
      description: "Delete organisation, this will also delete all the resources within\
        \ the organisation"
      operationId: organisations-delete
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete an organisation
      tags:
      - organisations
    get:
      description: Get a single organisation
      operationId: organisations-get
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: Get organisation
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get an organisation
      tags:
      - organisations
    put:
      description: Update an organisation
      operationId: organisations-update
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OrganisationBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organisation'
          description: Get organisation
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update an organisation
      tags:
      - organisations
  /organisations/{organisation_id}/projects:
    get:
      description: Get all the projects linked to a specific organisation
      operationId: organisations-projects-list
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: |
          Filter resource on name, if the value ends in an asterix it will be
          treated as a partial search otherwise, it'll be an exact match
        explode: true
        in: query
        name: f_name
        required: false
        schema:
          example: my-proj*
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: List projects
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get all projects within an organisation
      tags:
      - projects
  /organisations/{organisation_id}/quotas:
    get:
      description: Get the quotas for an organisation
      operationId: organisations-quotas-list
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List organisation quotas
      tags:
      - organisations
      - quotas
  /organisations/{organisation_id}/quotas/{quota_entity_quota}:
    get:
      description: Get a specific quota for an organisation
      operationId: organisations-quotas-get
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: quota_entity_quota
        required: true
        schema:
          description: Specific quota to filter by
          example: projects_secrets
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get specific organisation quota
      tags:
      - organisations
      - quotas
  /projects:
    get:
      description: "Get all projects for this user, paginated"
      operationId: projects-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: |
          Filter resource on name, if the value ends in an asterix it will be
          treated as a partial search otherwise, it'll be an exact match
        explode: true
        in: query
        name: f_name
        required: false
        schema:
          example: my-proj*
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: List projects
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List projects
      tags:
      - projects
    post:
      description: Create a new project
      operationId: projects-create
      requestBody:
        $ref: '#/components/requestBodies/ProjectBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create project
      tags:
      - projects
  /projects/{project_id}:
    delete:
      description: "Delete project, this will also delete all the resources within\
        \ the project"
      operationId: projects-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete project
      tags:
      - projects
    get:
      description: Get a specific project
      operationId: projects-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get project
      tags:
      - projects
    put:
      description: Update project
      operationId: projects-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ProjectBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update project
      tags:
      - projects
  /projects/{project_id}/secrets:
    get:
      description: List project secrets of a specific type
      operationId: projects-secrets-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: Type of secret to filter on
        explode: true
        in: query
        name: secret_type
        required: false
        schema:
          $ref: '#/components/schemas/SecretType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Secret'
                type: array
          description: List secrets
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List project secrets of a specific type
      tags:
      - secrets
    post:
      description: Create a new project secret
      operationId: projects-secrets-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SecretBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Get secret
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create project secret
      tags:
      - secrets
  /projects/{project_id}/secrets/{secret_name}:
    delete:
      description: "Delete project secret, if the secret is still linked to an active/deployed\
        \ function - it cannot be removed"
      operationId: projects-secrets-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete project secret
      tags:
      - secrets
    get:
      description: Get a specific project
      operationId: projects-secrets-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Get secret
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get project secret
      tags:
      - secrets
    put:
      description: Update project
      operationId: projects-secrets-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SecretBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
          description: Get secret
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update project secret
      tags:
      - secrets
  /projects/{project_id}/hosts:
    get:
      operationId: projects-hosts-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Host'
                type: array
          description: List of project hosts
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: List hosts for project
      tags:
      - hosts
    post:
      description: |
        Assign a host/domain to a project - hosts are globally unique and require verification, so a host cannot be assigned to multiple projects.

        A host can be a valid domain, either a root domain or a subdomain.
      operationId: projects-hosts-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create host for project
      tags:
      - hosts
  /projects/{project_id}/hosts/{hostname}:
    delete:
      operationId: projects-hosts-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Delete specific host by hostname
      tags:
      - hosts
    get:
      operationId: projects-hosts-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Get specific host by hostname
      tags:
      - hosts
    put:
      operationId: projects-hosts-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HostBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Update specific host by hostname
      tags:
      - hosts
  /projects/{project_id}/hosts/{hostname}/verify:
    post:
      operationId: projects-hosts-verify-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Schedule host verification task
      tags:
      - hosts
  /projects/{project_id}/quotas:
    get:
      description: Get the quotas for a project
      operationId: projects-quotas-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List project quotas
      tags:
      - projects
      - quotas
  /projects/{project_id}/quotas/{quota_entity_quota}:
    get:
      description: Get a specific quota for a project
      operationId: projects-quotas-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - explode: false
        in: path
        name: quota_entity_quota
        required: true
        schema:
          description: Specific quota to filter by
          example: projects_secrets
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQuotas'
          description: List quotas
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get specific project quota
      tags:
      - projects
      - quotas
  /auth/tokens:
    get:
      operationId: auth-tokens-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuthTokenMeta'
                type: array
          description: List of auth token meta
          headers:
            Pagination-Total-Count:
              $ref: '#/components/headers/Pagination-Total-Count'
            Pagination-Page-Size:
              $ref: '#/components/headers/Pagination-Page-Size'
            Pagination-Page-After:
              $ref: '#/components/headers/Pagination-Page-After'
            Pagination-Page-Before:
              $ref: '#/components/headers/Pagination-Page-Before'
            Pagination-Total-Pages:
              $ref: '#/components/headers/Pagination-Total-Pages'
            Link:
              $ref: '#/components/headers/Link'
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: List all user auth tokens
      tags:
      - tokens
    post:
      description: |
        Create new auth token for use with the CLI and TF Provider

        ### Warning
        The `token` field is only shown once and can't be retrieved again without generating a new token. Securely save this once the response has been received.
      operationId: auth-tokens-create
      requestBody:
        $ref: '#/components/requestBodies/AuthTokenBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
          description: Generated token response
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Create new auth token
      tags:
      - tokens
  /auth/tokens/{token_id}:
    delete:
      operationId: auth-tokens-delete
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Delete token
      tags:
      - tokens
    get:
      operationId: auth-tokens-get
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenMeta'
          description: Token meta information
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Get token information
      tags:
      - tokens
    put:
      operationId: auth-tokens-update
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthTokenPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
          description: Generated token response
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Update token
      tags:
      - tokens
  /projects/{project_id}/functions:
    get:
      description: List all functions
      operationId: projects-functions-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFunction'
          description: List all functions (paginated)
      security:
      - token: []
      - cookie: []
      summary: List all functions within a project
      tags:
      - functions
  /functions:
    post:
      description: Create a new function
      operationId: functions-create
      requestBody:
        $ref: '#/components/requestBodies/FunctionBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Get specific function
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Create function
      tags:
      - functions
  /functions/{function_id}:
    delete:
      description: Delete a function (and all revisions)
      operationId: functions-delete
      parameters:
      - description: Function ID reference
        explode: false
        in: path
        name: function_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Delete function
      tags:
      - functions
    get:
      description: Get a specific function (latest revision)
      operationId: functions-get
      parameters:
      - description: Function ID reference
        explode: false
        in: path
        name: function_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Get specific function
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Get function (latest revision)
      tags:
      - functions
    put:
      description: Update a function (creates a new revision)
      operationId: functions-update
      parameters:
      - description: Function ID reference
        explode: false
        in: path
        name: function_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/FunctionBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Get specific function
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Update function
      tags:
      - functions
  /functions/{function_id}/revisions:
    get:
      description: List all revisions for a function
      operationId: functions-revisions-list
      parameters:
      - description: Function ID reference
        explode: false
        in: path
        name: function_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFunction'
          description: List all functions (paginated)
      security:
      - token: []
      - cookie: []
      summary: List all revisions for a function
      tags:
      - functions
  /functions/{function_id}/revisions/{function_revision_id}:
    get:
      description: Get a specific revision of a function
      operationId: functions-revisions-get
      parameters:
      - description: Function ID reference
        explode: false
        in: path
        name: function_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Function revision ID reference
        explode: false
        in: path
        name: function_revision_id
        required: true
        schema:
          example: 1069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
          description: Get specific function
      security:
      - token: []
      - cookie: []
      summary: Get a specific revision of a function
      tags:
      - functions
  /providers:
    get:
      description: Retrieve a list of all providers with their respective deployed
        regions and cities.
      operationId: providers-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProviderResponse'
          description: List providers
      security:
      - token: []
      - cookie: []
      summary: Get available providers
      tags:
      - providers
  /logs:
    get:
      description: |
        Retrieve logs for a specific project or function. Use the query parameter to search logs.

        > Note: Logs are always returned in a descending order based on the timestamp.
        > Note: A max size of 500 logs is returned per request (when using page[size]).
      operationId: logs-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: Project uuid reference
        explode: true
        in: query
        name: f_project
        required: false
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: form
      - description: Function uuid reference
        explode: true
        in: query
        name: f_function
        required: false
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: form
      - description: Timestamp restriction for query
        explode: true
        in: query
        name: f_timestamps
        required: false
        schema:
          $ref: '#/components/schemas/logs_list_f_timestamps_parameter'
        style: deepObject
      - description: Text query string
        explode: true
        in: query
        name: f_query
        required: false
        schema:
          example: bootstrap
          type: string
        style: form
      - description: Type of log
        explode: true
        in: query
        name: f_log_type
        required: false
        schema:
          description: Log line type
          enum:
          - info
          - error
          example: error
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLogResponse'
          description: List logs
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Get logs
      tags:
      - logs
  /metrics/aggregations/{metric_aggregation_type}:
    get:
      description: |
        Retrieve metrics for a specific project or function. Use the query parameter to request a metrics report.

        > Note: Metrics are always returned in a descending order based on the timestamp.
      operationId: metrics-aggregations-list
      parameters:
      - description: |
          Metric aggregation type, types can be used with either a project or a function filter.

          - httprequests: Aggregated HTTP requests
          - resourcestats: Aggregated resource stats (such as CPU, Memory and Network)

          > Note: aggregations cannot return more than 300 data points
        explode: false
        in: path
        name: metric_aggregation_type
        required: true
        schema:
          enum:
          - httprequests
          - resourcestats
          example: httprequests
          type: string
        style: simple
      - description: Project uuid reference
        explode: true
        in: query
        name: f_project
        required: false
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: form
      - description: Function uuid reference
        explode: true
        in: query
        name: f_function
        required: false
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: form
      - description: Timestamp restriction for query
        explode: true
        in: query
        name: f_timestamps
        required: false
        schema:
          $ref: '#/components/schemas/logs_list_f_timestamps_parameter'
        style: deepObject
      - description: Histogram interval
        explode: true
        in: query
        name: f_histogram_interval
        required: false
        schema:
          description: Interval in seconds
          example: 600
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/metrics_aggregations_list_200_response'
          description: Metric aggregation
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Get metrics
      tags:
      - metrics
components:
  headers:
    Pagination-Total-Count:
      description: Total number of items available
      example: 100
      explode: false
      schema:
        type: integer
      style: simple
    Pagination-Page-Size:
      description: |
        Number of items returned in the current page.
        This is defined by the `page[size]` query parameter, if not specified it defaults to 20 and has a maximum of 100.
      example: 20
      explode: false
      schema:
        type: integer
      style: simple
    Pagination-Page-After:
      description: |
        The 'after' cursor for the current page, to be used to fetch the next page.
        This is defined by the `page[after]` query parameter.
      example: 20
      explode: false
      schema:
        type: integer
      style: simple
    Pagination-Page-Before:
      description: |
        The 'before' cursor for the current page, to be used to fetch the previous page.
        This is defined by the `page[before]` query parameter.
      example: 0
      explode: false
      schema:
        type: integer
      style: simple
    Pagination-Total-Pages:
      description: Total number of pages/iterations available based on the current
        page size
      example: 5
      explode: false
      schema:
        type: integer
      style: simple
    Link:
      description: |
        Pagination links in RFC 8288 Web Linking format.
        Relations used are; first, prev, next, last.
      example: |
        <https://chaos.qernal.com/v1/projects?page[size]=20&page[after]=20&page[before]=40>; rel="next",
        <https://chaos.qernal.com/v1/projects?page[size]=20&page[after]=40&page[before]=60>; rel="last"
      explode: false
      schema:
        type: string
      style: simple
  parameters:
    pagination_page:
      description: Query parameters for pagination
      explode: true
      in: query
      name: page
      required: false
      schema:
        $ref: '#/components/schemas/organisations_list_page_parameter'
      style: deepObject
    user_id:
      description: User ID reference
      explode: false
      in: path
      name: user_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    organisation_id:
      description: Organisation ID reference
      explode: false
      in: path
      name: organisation_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    project_id:
      description: Project ID reference
      explode: false
      in: path
      name: project_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    secret_type:
      description: Type of secret to filter on
      explode: true
      in: query
      name: secret_type
      required: false
      schema:
        $ref: '#/components/schemas/SecretType'
      style: form
    secret_name:
      description: Unique secret name
      explode: false
      in: path
      name: secret_name
      required: true
      schema:
        example: MY_SECRET
        minLength: 1
        pattern: "^[A-Z_]+$"
        type: string
      style: simple
    token_id:
      description: Token ID reference
      explode: false
      in: path
      name: token_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    hostname:
      description: Hostname
      explode: false
      in: path
      name: hostname
      required: true
      schema:
        example: example-domain.com
        type: string
      style: simple
    function_id:
      description: Function ID reference
      explode: false
      in: path
      name: function_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    function_revision_id:
      description: Function revision ID reference
      explode: false
      in: path
      name: function_revision_id
      required: true
      schema:
        example: 1069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    metric_aggregation_type:
      description: |
        Metric aggregation type, types can be used with either a project or a function filter.

        - httprequests: Aggregated HTTP requests
        - resourcestats: Aggregated resource stats (such as CPU, Memory and Network)

        > Note: aggregations cannot return more than 300 data points
      explode: false
      in: path
      name: metric_aggregation_type
      required: true
      schema:
        enum:
        - httprequests
        - resourcestats
        example: httprequests
        type: string
      style: simple
    quota_entity_quota:
      explode: false
      in: path
      name: quota_entity_quota
      required: true
      schema:
        description: Specific quota to filter by
        example: projects_secrets
        type: string
      style: simple
    billing_account_id:
      description: Billing account ID reference
      explode: false
      in: path
      name: billing_account_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    billing_payment_method_id:
      description: Payment method ID reference
      explode: false
      in: path
      name: billing_payment_method_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    filter_name:
      description: |
        Filter resource on name, if the value ends in an asterix it will be
        treated as a partial search otherwise, it'll be an exact match
      explode: true
      in: query
      name: f_name
      required: false
      schema:
        example: my-proj*
        type: string
      style: form
    filter_project:
      description: Project uuid reference
      explode: true
      in: query
      name: f_project
      required: false
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: form
    filter_function:
      description: Function uuid reference
      explode: true
      in: query
      name: f_function
      required: false
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: form
    filter_timestamps:
      description: Timestamp restriction for query
      explode: true
      in: query
      name: f_timestamps
      required: false
      schema:
        $ref: '#/components/schemas/logs_list_f_timestamps_parameter'
      style: deepObject
    filter_query:
      description: Text query string
      explode: true
      in: query
      name: f_query
      required: false
      schema:
        example: bootstrap
        type: string
      style: form
    filter_log_type:
      description: Type of log
      explode: true
      in: query
      name: f_log_type
      required: false
      schema:
        description: Log line type
        enum:
        - info
        - error
        example: error
        type: string
      style: form
    filter_histogram_interval:
      description: Histogram interval
      explode: true
      in: query
      name: f_histogram_interval
      required: false
      schema:
        description: Interval in seconds
        example: 600
        type: integer
      style: form
  requestBodies:
    HostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostBody'
      required: true
    HostBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostBodyPatch'
      required: true
    AuthTokenBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthTokenBody'
      required: true
    AuthTokenPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthTokenPatch'
      required: true
    OrganisationBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationBody'
      description: Create/Update any field
    ProjectBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectBody'
      description: Create/Update any field
    ProjectBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectBodyPatch'
      description: Update any field
    SecretBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretBody'
      description: |
        Create/Update any field

        The example generated may only be for one
        of the secret types, look towards the payload section of the schema
        for further fields, values and examples.
      required: true
    SecretBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretBodyPatch'
      description: Update any field
      required: true
    FunctionBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/FunctionBody'
      description: Create/Update any field
      required: true
    FunctionBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Function'
      description: Update any field
      required: true
    BillingAccountBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BillingAccountBody'
      description: Create/Update any field
      required: true
    PaymentMethodBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentMethodBody'
      description: Create/Update any field
      required: true
  responses:
    NoContent:
      description: The resources were updated successfully
    Unauthorised:
      content:
        application/json:
          examples:
            generic-unauthorised-response:
              value:
                message: Unauthorised
          schema:
            $ref: '#/components/schemas/UnauthorisedResponse'
      description: Unauthorised
    ResourceNotFound:
      content:
        application/json:
          examples:
            generic-not-found-response:
              value:
                message: Resource not found
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: Resource Not Found
    ResourceConflict:
      content:
        application/json:
          examples:
            generic-conflict-response:
              value:
                message: "Conflict, Resource already exists"
          schema:
            $ref: '#/components/schemas/ConflictResponse'
      description: Resource Conflict
    ResourceDeleted:
      content:
        application/json:
          examples:
            generic-deleted-response:
              value:
                message: Resource deleted
          schema:
            $ref: '#/components/schemas/DeletedResponse'
      description: Resource deleted
    BadRequest:
      content:
        application/json:
          examples:
            generic-bad-request-response:
              value:
                message: Missing fields
                fields:
                  generic_field: Valid field required
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Resource Bad Request
    Host:
      content:
        application/json:
          schema:
[...]
