openapi: 3.0.0
info:
  contact:
    email: support@qernal.com
  description: Central Management API - publicly exposed set of APIs for managing
    deployments
  title: Chaos
  version: 1.0.0
  x-logo:
    url: /assets/components/chaos.png
    backgroundColor: '#FFFFFF'
    altText: Qernal Chaos
servers:
- description: Production
  url: https://chaos.qernal.com/v1
security:
- token: []
- cookie: []
tags:
- description: "Project operations, projects belong to an organisation"
  name: projects
- description: "Organisations are a hierarchy top-level for a user, they allow for\
    \ organising of projects"
  name: organisations
- description: "Secret operations for certificates, environment and container registry"
  name: secrets
- description: Auth tokens for third party clients
  name: tokens
paths:
  /organisations:
    get:
      description: List organisations
      operationId: organisations-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganisationResponse'
          description: List organisations
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List organisations
      tags:
      - organisations
    post:
      description: Create an organisation
      operationId: organisations-create
      requestBody:
        $ref: '#/components/requestBodies/OrganisationBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationResponse'
          description: Get organisation
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create organisations
      tags:
      - organisations
  /organisations/{organisation_id}:
    delete:
      description: "Delete organisation, this will also delete all the resources within\
        \ the organisation"
      operationId: organisations-delete
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete an organisation
      tags:
      - organisations
    get:
      description: Get a single organisation
      operationId: organisations-get
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationResponse'
          description: Get organisation
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get an organisation
      tags:
      - organisations
    put:
      description: Update an organisation
      operationId: organisations-update
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/OrganisationBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationResponse'
          description: Get organisation
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update an organisation
      tags:
      - organisations
  /organisations/{organisation_id}/projects:
    get:
      description: Get all the projects linked to a specific organisation
      operationId: organisations-projects-list
      parameters:
      - description: Organisation ID reference
        explode: false
        in: path
        name: organisation_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectResponse'
          description: List projects
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get all projects within an organisation
      tags:
      - projects
  /projects:
    get:
      description: "Get all projects for this user, paginated"
      operationId: projects-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectResponse'
          description: List projects
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List projects
      tags:
      - projects
    post:
      description: Create a new project
      operationId: projects-create
      requestBody:
        $ref: '#/components/requestBodies/ProjectBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create project
      tags:
      - projects
  /projects/{project_id}:
    delete:
      description: "Delete project, this will also delete all the resources within\
        \ the project"
      operationId: projects-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete project
      tags:
      - projects
    get:
      description: Get a specific project
      operationId: projects-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get project
      tags:
      - projects
    put:
      description: Update project
      operationId: projects-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ProjectBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
          description: Get project
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update project
      tags:
      - projects
  /projects/{project_id}/secrets:
    get:
      description: List project secrets of a specific type
      operationId: projects-secrets-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      - description: Type of secret to filter on
        explode: true
        in: query
        name: secret_type
        required: false
        schema:
          $ref: '#/components/schemas/SecretMetaType'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretResponse'
          description: List secrets
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: List project secrets of a specific type
      tags:
      - secrets
    post:
      description: Create a new project secret
      operationId: projects-secrets-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SecretBody'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Get secret
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create project secret
      tags:
      - secrets
  /projects/{project_id}/secrets/{secret_name}:
    delete:
      description: "Delete project secret, if the secret is still linked to an active/deployed\
        \ function - it cannot be removed"
      operationId: projects-secrets-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Delete project secret
      tags:
      - secrets
    get:
      description: Get a specific project
      operationId: projects-secrets-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                secret-meta-registry:
                  value:
                    name: FIRST_SECRET
                    type: registry
                    payload:
                      registry: ghcr.io
                    date:
                      created_at: 2023-07-22T14:50:13Z20230722T145013Z
                      updated_at: 2023-07-22T14:50:13Z20230722T145013Z
                secret-meta-certificate:
                  value:
                    name: FIRST_SECRET
                    type: certificate
                    payload:
                      domain: ghcr.io
                    date:
                      created_at: 2023-07-22T14:50:13Z20230722T145013Z
                      updated_at: 2023-07-22T14:50:13Z20230722T145013Z
                secret-meta-environment:
                  value:
                    name: FIRST_SECRET
                    type: enviornment
                    payload:
                      env: MY_SECRET_NAME
                    date:
                      created_at: 2023-07-22T14:50:13Z20230722T145013Z
                      updated_at: 2023-07-22T14:50:13Z20230722T145013Z
              schema:
                $ref: '#/components/schemas/SecretMetaResponse'
          description: Get secret metadata
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Get project secret
      tags:
      - secrets
    put:
      description: Update project
      operationId: projects-secrets-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Unique secret name
        explode: false
        in: path
        name: secret_name
        required: true
        schema:
          example: MY_SECRET
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/SecretBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretResponse'
          description: Get secret
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "403":
          content:
            application/json:
              examples:
                generic-unauthorised-response:
                  value:
                    message: Unauthorised
              schema:
                $ref: '#/components/schemas/UnauthorisedResponse'
          description: Unauthorised
      security:
      - token: []
      - cookie: []
      summary: Update project secret
      tags:
      - secrets
  /projects/{project_id}/hosts:
    get:
      operationId: projects-hosts-list
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHosts'
          description: List of project hosts
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: List hosts for project
      tags:
      - hosts
    post:
      description: |
        Assign a host/domain to a project - hosts are globally unique and require verification, so a host cannot be assigned to multiple projects.

        A host can be a valid domain, either a root domain or a subdomain.
      operationId: projects-hosts-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
        "409":
          content:
            application/json:
              examples:
                generic-conflict-response:
                  value:
                    message: "Conflict, Resource already exists"
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Resource Conflict
      security:
      - token: []
      - cookie: []
      summary: Create host for project
      tags:
      - hosts
  /projects/{project_id}/hosts/{hostname}:
    delete:
      operationId: projects-hosts-delete
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Delete specific host by hostname
      tags:
      - hosts
    get:
      operationId: projects-hosts-get
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Get specific host by hostname
      tags:
      - hosts
    put:
      operationId: projects-hosts-update
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/HostBodyPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      security:
      - token: []
      - cookie: []
      summary: Update specific host by hostname
      tags:
      - hosts
  /projects/{project_id}/hosts/{hostname}/verify:
    post:
      operationId: projects-hosts-verify-create
      parameters:
      - description: Project ID reference
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      - description: Hostname
        explode: false
        in: path
        name: hostname
        required: true
        schema:
          example: example-domain.com
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
          description: Porject host
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      security:
      - token: []
      - cookie: []
      summary: Schedule host verification task
      tags:
      - hosts
  /auth/tokens:
    get:
      operationId: auth-tokens-list
      parameters:
      - description: Query parameters for pagination
        explode: true
        in: query
        name: page
        required: false
        schema:
          $ref: '#/components/schemas/organisations_list_page_parameter'
        style: deepObject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuthTokens'
          description: List of auth token meta
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      summary: List all user auth tokens
      tags:
      - tokens
    post:
      description: |
        Create new auth token for use with the CLI and TF Provider

        ### Warning
        The `token` field is only shown once and can't be retrieved again without generating a new token. Securely save this once the response has been received.
      operationId: auth-tokens-create
      requestBody:
        $ref: '#/components/requestBodies/AuthTokenBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
          description: Generated token response
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      summary: Create new auth token
      tags:
      - tokens
  /auth/tokens/{token_id}:
    delete:
      operationId: auth-tokens-delete
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                generic-deleted-response:
                  value:
                    message: Resource deleted
              schema:
                $ref: '#/components/schemas/DeletedResponse'
          description: Resource deleted
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
      summary: Delete token
      tags:
      - tokens
    get:
      operationId: auth-tokens-get
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenMeta'
          description: Token meta information
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      summary: Get token information
      tags:
      - tokens
    put:
      operationId: auth-tokens-update
      parameters:
      - description: Token ID reference
        explode: false
        in: path
        name: token_id
        required: true
        schema:
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AuthTokenPatch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
          description: Generated token response
        "404":
          content:
            application/json:
              examples:
                generic-not-found-response:
                  value:
                    message: Resource not found
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Resource Not Found
        "400":
          content:
            application/json:
              examples:
                generic-bad-request-response:
                  value:
                    message: Missing fields
                    fields:
                      generic_field: Valid field required
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Resource Bad Request
      summary: Update token
      tags:
      - tokens
components:
  parameters:
    pagination_page:
      description: Query parameters for pagination
      explode: true
      in: query
      name: page
      required: false
      schema:
        $ref: '#/components/schemas/organisations_list_page_parameter'
      style: deepObject
    organisation_id:
      description: Organisation ID reference
      explode: false
      in: path
      name: organisation_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    project_id:
      description: Project ID reference
      explode: false
      in: path
      name: project_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    secret_type:
      description: Type of secret to filter on
      explode: true
      in: query
      name: secret_type
      required: false
      schema:
        $ref: '#/components/schemas/SecretMetaType'
      style: form
    secret_name:
      description: Unique secret name
      explode: false
      in: path
      name: secret_name
      required: true
      schema:
        example: MY_SECRET
        minLength: 1
        pattern: "^[A-Z_]+$"
        type: string
      style: simple
    token_id:
      description: Token ID reference
      explode: false
      in: path
      name: token_id
      required: true
      schema:
        example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        format: uuid
        type: string
      style: simple
    hostname:
      description: Hostname
      explode: false
      in: path
      name: hostname
      required: true
      schema:
        example: example-domain.com
        type: string
      style: simple
  requestBodies:
    HostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostBody'
      required: true
    HostBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostBodyPatch'
      required: true
    AuthTokenBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthTokenBody'
      required: true
    AuthTokenPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthTokenPatch'
      required: true
    OrganisationBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationBody'
      description: Create/Update any field
    ProjectBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectBody'
      description: Create/Update any field
    ProjectBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectBodyPatch'
      description: Update any field
    SecretBody:
      content:
        application/json:
          examples:
            secret-registry-create:
              value:
                name: FIRST_API
                type: registry
                payload:
                  registry: ghcr.io
                  secret: VGhpcyBzaG91bGQgYmUgYSBzZWN1cmUgc2VjcmV0LCBnZW5lcmF0ZSBsZW5ndGh5IGNyZWRlbnRpYWxzCg==
            secret-certificate-create:
              value:
                name: FIRST_API
                type: certificate
                payload:
                  domain: my-app.com
                  secret: VGhpcyB3b3VsZCBiZSB5b3VyIGNlcnRpZmljYXRlCg==
            secret-environment-create:
              value:
                name: FIRST_API
                type: environment
                payload:
                  env: MY_FIRST_SECRET
                  secret: bXkgc2VjcmV0IHZhbHVlCg==
          schema:
            $ref: '#/components/schemas/SecretBody'
      description: Create/Update any field
      required: true
    SecretBodyPatch:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretBodyPatch'
      description: Update any field
      required: true
  responses:
    NoContent:
      description: The resources were updated successfully
    Unauthorised:
      content:
        application/json:
          examples:
            generic-unauthorised-response:
              value:
                message: Unauthorised
          schema:
            $ref: '#/components/schemas/UnauthorisedResponse'
      description: Unauthorised
    ResourceNotFound:
      content:
        application/json:
          examples:
            generic-not-found-response:
              value:
                message: Resource not found
          schema:
            $ref: '#/components/schemas/NotFoundResponse'
      description: Resource Not Found
    ResourceConflict:
      content:
        application/json:
          examples:
            generic-conflict-response:
              value:
                message: "Conflict, Resource already exists"
          schema:
            $ref: '#/components/schemas/ConflictResponse'
      description: Resource Conflict
    ResourceDeleted:
      content:
        application/json:
          examples:
            generic-deleted-response:
              value:
                message: Resource deleted
          schema:
            $ref: '#/components/schemas/DeletedResponse'
      description: Resource deleted
    BadRequest:
      content:
        application/json:
          examples:
            generic-bad-request-response:
              value:
                message: Missing fields
                fields:
                  generic_field: Valid field required
          schema:
            $ref: '#/components/schemas/BadRequestResponse'
      description: Resource Bad Request
    Host:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Host'
      description: Porject host
    ListHosts:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListHosts'
      description: List of project hosts
    AuthToken:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthToken'
      description: Generated token response
    AuthTokenMeta:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthTokenMeta'
      description: Token meta information
    AuthTokenList:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListAuthTokens'
      description: List of auth token meta
    ListOrganisations:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListOrganisationResponse'
      description: List organisations
    Organisation:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationResponse'
      description: Get organisation
    ListProjects:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListProjectResponse'
      description: List projects
    Project:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProjectResponse'
      description: Get project
    ListSecrets:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListSecretResponse'
      description: List secrets
    Secret:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecretResponse'
      description: Get secret
    SecretMeta:
      content:
        application/json:
          examples:
            secret-meta-registry:
              value:
                name: FIRST_SECRET
                type: registry
                payload:
                  registry: ghcr.io
                date:
                  created_at: 2023-07-22T14:50:13Z20230722T145013Z
                  updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            secret-meta-certificate:
              value:
                name: FIRST_SECRET
                type: certificate
                payload:
                  domain: ghcr.io
                date:
                  created_at: 2023-07-22T14:50:13Z20230722T145013Z
                  updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            secret-meta-environment:
              value:
                name: FIRST_SECRET
                type: enviornment
                payload:
                  env: MY_SECRET_NAME
                date:
                  created_at: 2023-07-22T14:50:13Z20230722T145013Z
                  updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          schema:
            $ref: '#/components/schemas/SecretMetaResponse'
      description: Get secret metadata
  schemas:
    NotFoundResponse:
      description: Resource not found
      properties:
        message:
          type: string
      required:
      - message
      type: object
    UnauthorisedResponse:
      description: Unauthorised
      properties:
        message:
          type: string
      required:
      - message
      type: object
    BadRequestResponse:
      description: Bad request
      properties:
        message:
          type: string
        fields:
          $ref: '#/components/schemas/BadRequestResponse_fields'
      required:
      - fields
      - message
      type: object
    ConflictResponse:
      description: Conflict Response
      properties:
        message:
          type: string
      required:
      - message
      type: object
    DeletedResponse:
      description: Deleted Response
      example:
        message: message
      properties:
        message:
          type: string
      required:
      - message
      type: object
    Date:
      description: Object date information
      example:
        updated_at: 2023-07-22T14:50:13Z20230722T145013Z
        created_at: 2023-07-22T14:50:13Z20230722T145013Z
      properties:
        created_at:
          description: UTC creation datetime (ISO 8601 date format)
          example: 2023-07-22T14:50:13Z20230722T145013Z
          format: datetime
          type: string
        updated_at:
          description: UTC update datetime (ISO 8601 date format)
          example: 2023-07-22T14:50:13Z20230722T145013Z
          format: datetime
          type: string
      required:
      - created_at
      - updated_at
      type: object
    HostVerificationStatus:
      description: Host verification status
      enum:
      - pending
      - completed
      - failed
      example: pending
      type: string
    Host:
      description: Host response
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        read_only: true
        verified_at: 2023-07-22T14:50:13Z20230722T145013Z
        host: example-domain.com
        certificate: projects:secrets/MY_CERT
        disabled: true
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        txt_verification: qernal=my.app=KSjfasiqwePdsakm12kdas3
        verification_status: pending
      properties:
        id:
          description: Host id
          format: uuid
          type: string
        host:
          description: "Hostname, this can be a root or a subdomain"
          example: example-domain.com
          minLength: 1
          type: string
        certificate:
          description: The secret reference to the certificate
          example: projects:secrets/MY_CERT
          pattern: "^projects\\:secrets/(?<secret_name>[A-Z0-9_]+)$"
          type: string
        project_id:
          description: Project ID this is attached to
          format: uuid
          minLength: 1
          type: string
        read_only:
          description: "If the host is read only and cannot be removed, primarily\
            \ used for *.qrnl.app domains"
          type: boolean
        disabled:
          description: If the host is disabled and so won't be routable
          type: boolean
        txt_verification:
          description: "TXT record of host to verify ownership - if this record is\
            \ removed, it may become unverified as this is checked periodically to\
            \ continually verify ownership"
          example: qernal=my.app=KSjfasiqwePdsakm12kdas3
          type: string
        verified_at:
          description: UTC datetime when the host was verified (ISO 8601 date format).
          example: 2023-07-22T14:50:13Z20230722T145013Z
          format: datetime
          type: string
        date:
          $ref: '#/components/schemas/Date'
        verification_status:
          $ref: '#/components/schemas/HostVerificationStatus'
      required:
      - date
      - disabled
      - host
      - id
      - project_id
      - read_only
      - txt_verification
      - verification_status
      type: object
    ListHosts:
      description: List of projects hosts
      example:
        data:
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          read_only: true
          verified_at: 2023-07-22T14:50:13Z20230722T145013Z
          host: example-domain.com
          certificate: projects:secrets/MY_CERT
          disabled: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          txt_verification: qernal=my.app=KSjfasiqwePdsakm12kdas3
          verification_status: pending
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          project_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          read_only: true
          verified_at: 2023-07-22T14:50:13Z20230722T145013Z
          host: example-domain.com
          certificate: projects:secrets/MY_CERT
          disabled: true
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          txt_verification: qernal=my.app=KSjfasiqwePdsakm12kdas3
          verification_status: pending
        meta:
          pages: 20
          start: 20
          end: 40
          links:
            next: "/{url}?page[after]=40&page[size]=20"
            prev: "/{url}?page[before]=20&page[size]=20"
          results: 200
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        data:
          items:
            $ref: '#/components/schemas/Host'
          type: array
      required:
      - data
      - meta
      type: object
    HostBody:
      description: Host body
      example:
        host: host
        certificate: projects:secrets/MY_CERT
        disabled: true
      properties:
        host:
          description: Hostname
          minLength: 1
          type: string
        certificate:
          description: Reference to secret certificate path
          example: projects:secrets/MY_CERT
          minLength: 1
          pattern: "^projects\\:secrets/(?<secret_name>[A-Z0-9_]+)$"
          type: string
        disabled:
          description: "If the host is disabled, then this host won't be accessible\
            \ and so the deployments will not be routable on this host"
          type: boolean
      required:
      - certificate
      - disabled
      - host
      type: object
    HostBodyPatch:
      description: Host body update
      example:
        certificate: projects:secrets/MY_CERT
        disabled: true
      properties:
        certificate:
          description: Reference to secret certificate path
          example: projects:secrets/MY_CERT
          minLength: 1
          pattern: "^projects\\:secrets/(?<secret_name>[A-Z0-9_]+)$"
          type: string
        disabled:
          description: "If the host is disabled, then this host won't be accessible\
            \ and so the deployments will not work on this host"
          type: boolean
      type: object
    AuthTokenBody:
      description: API auth token create
      example:
        name: TF token
        expiry_duration: 90
      properties:
        name:
          description: Name of token
          example: TF token
          type: string
        expiry_duration:
          description: Token expiration duration in days. 0 - token will never expire
          example: 90
          type: integer
      required:
      - expiry_duration
      - name
      type: object
    AuthTokenPatch:
      description: API auth token patch
      example:
        name: My updated token
        expiry_duration: 90
      properties:
        name:
          description: Name of token
          example: My updated token
          type: string
        expiry_duration:
          description: Token expiration duration in days. 0 - token will never expire
          example: 90
          type: integer
    AuthToken:
      description: API auth token
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        user_id: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
        name: TF Token
        id: 51687d2f-07b0-4260-8ecb-f5098305fdd4
        expiry_at: 2023-07-22T14:50:13Z20230722T145013Z
        token: 51687d2f-07b0-4260-8ecb-f5098305fdd4@T.KcV~_96jfOoD5ixFP8qu0Spm
      properties:
        id:
          description: Auth token uuid
          example: 51687d2f-07b0-4260-8ecb-f5098305fdd4
          format: uuid
          type: string
        user_id:
          description: User
          example: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
          format: uuid
          type: string
        name:
          description: Name of token
          example: TF Token
          type: string
        expiry_at:
          example: 2023-07-22T14:50:13Z20230722T145013Z
          format: datetime
          type: string
        token:
          description: "Combined token required for requesting an access token, this\
            \ field is only returned once on creation or update (during regeneration)."
          example: 51687d2f-07b0-4260-8ecb-f5098305fdd4@T.KcV~_96jfOoD5ixFP8qu0Spm
          type: string
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - id
      - name
      - user_id
      type: object
    AuthTokenMeta:
      description: API auth token meta
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        user_id: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
        name: TF Token
        id: 51687d2f-07b0-4260-8ecb-f5098305fdd4
        expiry_at: 2023-07-22T14:50:13Z20230722T145013Z
      properties:
        id:
          example: 51687d2f-07b0-4260-8ecb-f5098305fdd4
          format: uuid
          type: string
        user_id:
          description: User
          example: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
          format: uuid
          type: string
        name:
          description: Name of token
          example: TF Token
          type: string
        expiry_at:
          example: 2023-07-22T14:50:13Z20230722T145013Z
          format: datetime
          type: string
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - id
      - name
      - user_id
      type: object
    ListAuthTokens:
      description: List of auth tokens
      example:
        data:
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          user_id: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
          name: TF Token
          id: 51687d2f-07b0-4260-8ecb-f5098305fdd4
          expiry_at: 2023-07-22T14:50:13Z20230722T145013Z
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          user_id: a01594c7-3ebf-4ad1-8565-a7895e9c2d49
          name: TF Token
          id: 51687d2f-07b0-4260-8ecb-f5098305fdd4
          expiry_at: 2023-07-22T14:50:13Z20230722T145013Z
        meta:
          pages: 20
          start: 20
          end: 40
          links:
            next: "/{url}?page[after]=40&page[size]=20"
            prev: "/{url}?page[before]=20&page[size]=20"
          results: 200
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        data:
          items:
            $ref: '#/components/schemas/AuthTokenMeta'
          type: array
      required:
      - data
      - meta
      type: object
    PaginationMeta:
      description: Meta object for pagination use
      example:
        pages: 20
        start: 20
        end: 40
        links:
          next: "/{url}?page[after]=40&page[size]=20"
          prev: "/{url}?page[before]=20&page[size]=20"
        results: 200
      properties:
        results:
          example: 200
          type: integer
        start:
          example: 20
          type: integer
        end:
          example: 40
          type: integer
        pages:
          example: 20
          type: integer
        links:
          $ref: '#/components/schemas/PaginationLinks'
      required:
      - end
      - links
      - pages
      - results
      - start
      type: object
    PaginationLinks:
      description: Links object for pagination use
      example:
        next: "/{url}?page[after]=40&page[size]=20"
        prev: "/{url}?page[before]=20&page[size]=20"
      properties:
        prev:
          example: "/{url}?page[before]=20&page[size]=20"
          minLength: 1
          type: string
        next:
          example: "/{url}?page[after]=40&page[size]=20"
          minLength: 1
          type: string
      required:
      - next
      - prev
      type: object
    OrganisationResponse:
      description: Organisation response
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        user_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        name: my org
        id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
      properties:
        id:
          description: Organisation id
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          minLength: 1
          type: string
        user_id:
          description: User id
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          minLength: 1
          type: string
        name:
          description: Organisation name
          example: my org
          minLength: 1
          type: string
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - id
      - name
      - user_id
      type: object
    ListOrganisationResponse:
      description: List organisations schema
      example:
        data:
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          user_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          name: my org
          id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          user_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          name: my org
          id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        meta:
          pages: 20
          start: 20
          end: 40
          links:
            next: "/{url}?page[after]=40&page[size]=20"
            prev: "/{url}?page[before]=20&page[size]=20"
          results: 200
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        data:
          items:
            $ref: '#/components/schemas/OrganisationResponse'
          type: array
      required:
      - data
      - meta
      type: object
    OrganisationBody:
      description: Organisation body
      example:
        name: my org
      properties:
        name:
          description: Organisation name
          example: my org
          minLength: 1
          type: string
      required:
      - name
      type: object
    ListProjectResponse:
      description: List of projects
      example:
        data:
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          org_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          name: my project
          id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          org_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          name: my project
          id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        meta:
          pages: 20
          start: 20
          end: 40
          links:
            next: "/{url}?page[after]=40&page[size]=20"
            prev: "/{url}?page[before]=20&page[size]=20"
          results: 200
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        data:
          items:
            $ref: '#/components/schemas/ProjectResponse'
          type: array
      required:
      - data
      - meta
      type: object
    ProjectResponse:
      description: Project response
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        org_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        name: my project
        id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
      properties:
        id:
          description: Project id
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          minLength: 1
          type: string
        org_id:
          description: Organisation id
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          minLength: 1
          type: string
        name:
          description: Project name
          example: my project
          minLength: 1
          type: string
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - id
      - name
      - org_id
      type: object
    ProjectBody:
      description: Project body
      example:
        org_id: 3069614e-adc8-47cb-a69c-decf9c5f90fc
        name: first api
      properties:
        org_id:
          description: Organisation id
          example: 3069614e-adc8-47cb-a69c-decf9c5f90fc
          format: uuid
          minLength: 1
          type: string
        name:
          description: Project name
          example: first api
          minLength: 1
          type: string
      required:
      - name
      - org_id
      type: object
    ProjectBodyPatch:
      description: Project patch fields
      example:
        org_id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
      properties:
        org_id:
          description: Organisation id
          format: uuid
          minLength: 1
          type: string
        name:
          description: Project name
          minLength: 1
          type: string
      type: object
    ListSecretResponse:
      description: List of secrets
      example:
        data:
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          payload: null
          name: name
          type: registry
          revision: 23
        - date:
            updated_at: 2023-07-22T14:50:13Z20230722T145013Z
            created_at: 2023-07-22T14:50:13Z20230722T145013Z
          payload: null
          name: name
          type: registry
          revision: 23
        meta:
          pages: 20
          start: 20
          end: 40
          links:
            next: "/{url}?page[after]=40&page[size]=20"
            prev: "/{url}?page[before]=20&page[size]=20"
          results: 200
      properties:
        meta:
          $ref: '#/components/schemas/PaginationMeta'
        data:
          items:
            $ref: '#/components/schemas/SecretMetaResponse'
          type: array
      required:
      - data
      - meta
      type: object
    SecretResponse:
      description: Secret response
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        payload: null
        name: name
        type: registry
        revision: 32
      properties:
        name:
          description: Secret name
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        type:
          $ref: '#/components/schemas/SecretCreateType'
        payload:
          $ref: '#/components/schemas/SecretResponse_payload'
        revision:
          description: Secret revision
          example: 32
          type: integer
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - name
      - revision
      - type
      type: object
    SecretMetaType:
      description: "Secrets types: registry, certificate, environment, dek"
      enum:
      - registry
      - certificate
      - environment
      - dek
      example: registry
      type: string
    SecretMetaResponse:
      description: Secret metadata response
      example:
        date:
          updated_at: 2023-07-22T14:50:13Z20230722T145013Z
          created_at: 2023-07-22T14:50:13Z20230722T145013Z
        payload: null
        name: name
        type: registry
        revision: 23
      properties:
        name:
          description: Project name
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        type:
          $ref: '#/components/schemas/SecretMetaType'
        payload:
          $ref: '#/components/schemas/SecretMetaResponse_payload'
        revision:
          description: Secret revision
          example: 23
          type: integer
        date:
          $ref: '#/components/schemas/Date'
      required:
      - date
      - name
      - revision
      - type
      type: object
    SecretMetaResponseCertificatePayload:
      description: Secret metadata certificate payload
      properties:
        certificate:
          description: Public SSL certificate
          example: <x509 content>
          format: string
          minLength: 1
          type: string
      required:
      - certificate
      type: object
    SecretMetaResponseRegistryPayload:
      description: Secret metadata registry payload
      properties:
        registry:
          description: Registry domain
          example: ghcr.io
          format: string
          minLength: 1
          type: string
      required:
      - registry
      type: object
    SecretMetaResponseDek:
      description: "DEK secret, `type: dek`"
      properties:
        public:
          description: Base64 encoded DEK public key
          type: string
      required:
      - public
      type: object
    SecretCreatePayload:
      description: Payload for secret
      oneOf:
      - $ref: '#/components/schemas/SecretRegistry'
      - $ref: '#/components/schemas/SecretEnvironment'
      - $ref: '#/components/schemas/SecretCertificate'
      type: object
    SecretCreateType:
      description: "Secrets types: registry, certificate, environment"
      enum:
      - registry
      - certificate
      - environment
      example: registry
      type: string
    SecretEnvironment:
      description: "Encrypted ENV secret, `type: environment`"
      properties:
        environment_value:
          description: "Encrypted environment pairs (key - env key, value - env value)"
          example: SGVsbG8gd29ybGQ=
          format: base64
          type: string
      required:
      - environment_value
      type: object
    SecretCertificate:
      description: "Encrypted SSL private key and plain certificate. Certificate expected\
        \ in x509 pem format, key expected in pkcs8 or pkcs1 pem format. `type: certificate`"
      properties:
        certificate:
          description: Public certificate
          example: <x509 certificate pem format>
          type: string
        certificate_value:
          description: Encrypted certificate private key
          example: <base64 encrypted pkcs8 or pkcs1 pem format>
          format: base64
          type: string
      required:
      - certificate
      - certificate_value
      type: object
    SecretRegistry:
      description: "Encrypted private container registry, `type: registry`"
      properties:
        registry:
          description: Url to private container repository (for docker registry use
            https://index.docker.io/v1/)
          example: https://index.docker.io/v1/
          format: url
          type: string
        registry_value:
          description: Token used for auth to the registry
          example: SGVsbG8gd29ybGQ=
          format: base64
          type: string
      required:
      - registry
      - registry_value
      type: object
    SecretBody:
      description: Secret body
      example:
        encryption: keys/dek/123
        payload: null
        name: name
        type: registry
      properties:
        name:
          description: Secret name
          minLength: 1
          pattern: "^[A-Z_]+$"
          type: string
        type:
          $ref: '#/components/schemas/SecretCreateType'
        payload:
          $ref: '#/components/schemas/SecretCreatePayload'
        encryption:
          description: Encryption entity
          example: keys/dek/123
          type: string
      required:
      - encryption
      - name
      - payload
      - type
      type: object
    SecretBodyPatch:
      description: Secret body patch fields
      example:
        encryption: keys/dek/123
        payload: null
        type: registry
      properties:
        type:
          $ref: '#/components/schemas/SecretCreateType'
        payload:
          $ref: '#/components/schemas/SecretCreatePayload'
        encryption:
          description: Encryption entity
          example: keys/dek/123
          type: string
      required:
      - encryption
      - payload
      - type
      type: object
    organisations_list_page_parameter:
      properties:
        before:
          description: Offset
          example: 20
          type: integer
        after:
          description: Offset
          example: 20
          type: integer
        size:
          description: Limit
          example: 20
          type: integer
      type: object
    BadRequestResponse_fields:
      properties:
        email:
          type: string
      type: object
    SecretResponse_payload:
      oneOf:
      - $ref: '#/components/schemas/SecretMetaResponseCertificatePayload'
      - $ref: '#/components/schemas/SecretMetaResponseRegistryPayload'
    SecretMetaResponse_payload:
      oneOf:
      - $ref: '#/components/schemas/SecretMetaResponseCertificatePayload'
      - $ref: '#/components/schemas/SecretMetaResponseRegistryPayload'
      - $ref: '#/components/schemas/SecretMetaResponseDek'
  securitySchemes:
    token:
      scheme: bearer
      type: http
    cookie:
      in: cookie
      name: qernal_kratos_session
      type: apiKey
